.spacer {
    flex-grow: 1;
}

.label {
    margin-right: 16px;
}

.input {
    flex-grow: 1;
}



.item {
    
    display: flex;
    flex-direction: row;
    margin: 16px;
    box-shadow: 1px 1px 1px 1px gray;
}
.itemImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 4px;

}
.itemImage {
    max-height: 150px;
    max-width: 150px;
}
.itemTexte {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
}
.itemName {
    margin: 8px 0px;
    font-size: 1.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.itemDescription {
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 500px;
    max-height: 3em;
}


//////////////
.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.list {
    overflow-y: auto;
    flex-grow: 1;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 300px;
    height: 300px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .cardImage {
      max-width: 150px;
      max-height: 150px;
      object-fit: contain;

  }
  .cardDescription {
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 500px;
    max-height: 3em;
}
///////
.itemFileList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.itemFileListItem {
    min-width: 33%;
    height: 200px;
    box-shadow: 2px 2px 1px 2px black;
    margin: 8px;
    padding: 8px;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImageBox {
    width: 200px;
    height: 200px;
}

.itemFileListItemImage {
  max-width: 200px;
  max-height: 200px;
}

.itemTextSection {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.itemTextSectionTitle {
   font-size: 1.5em;
}
.itemTextSectionDescription {
   flex-grow: 1;
   max-height: 100%;
   overflow: hidden;
   margin: 4px;
}
.itemTextSectionKeywords {
   margin-top: auto;
  
}

.itemInfoSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8px;

}

.itemInfoSectionEdit {

    
}
.itemInfoSectionType {

    
}
.itemInfoSectionGroup {
    max-height: 100%;
    overflow: hidden;
}